html, body {
    margin: 0;
    padding: 0;
}


/* Flex box */

@media screen and (min-width: 600px){
    .colRow {
    display: flex;
    justify-content: center;
    flex-direction: row;

}
    
    .icon {
        display: none;
    }
    
}

@media screen and (max-width: 600px){
    .colRow {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
}
    
    .topNav li:not(:first-child):not(:last-child) {display: none;}
    
    .topNav .icon {
        display: block;
    }
}


.col {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    margin: 1%;
    text-align: center;
}

@media screen and (max-width: 600px) {
  .topNav.responsive {position: relative;}
  .topNav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

.col > p {
    padding: 1%;
}

a {
    /* removes the underline */
    text-decoration: none;
    color: white;
    
}

/* nav bar styles */

nav {
    background-color: #383E4C;
    /* fix the nav bar at the top of the screen */
    position: fixed;
    top 0;
    width: 100%;
}

.topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

nav > ul > li {
    /* li elements are block by default. Make them inline to create horizontal list */
    display: inline;
    /* space the li elements */
    padding: 14px;
    margin: 4px;
    /* gives the nav links a border */
    border-style: solid;
    border-width: 1px;
    border-color: skyblue;
    font-size: 25px;
    
}

nav > ul {
  list-style-type:none;
  display:flex;
  justify-content: center;
}

/* change background color of nav links when hovering */
nav > ul > li:hover {
    background-color: gray;
}

/* Style for the main home image */
.mainImg {
    width: 100%;
}

/* Header styles */
h1 {
    text-align: center;
    color:whitesmoke;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

h3 {
    text-align: center;
}

/* Button Styles */

.greenBtn {
    background-color: green;
}

.blueBtn {
    background-color: blue;
}

.redBtn {
    background-color: red;
}

.whiteBtn {
    background-color: gray;
}

.blackBtn {
    background-color: black;
    color: whitesmoke;
}

button {
    margin: 0 auto;
    margin-bottom: 1%;
    width: 25%;
    padding: 1%;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

/* Contact Form Styling */
form {
   margin: 0 auto;
    width: 60%;
}

.formImg {
    background-image: url("../assets/bg-3.jpg");
    min-height: 930px;
        
}

.formInputs {
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.pDiv {
    background-color: rgba(242, 242, 242, 0.3);
    text-align: center;
    border-radius: 12px;
    padding: 1%
}

.formInput {
    background-color: rgba(242, 242, 242, 0.3);
    margin: 1%;
    border: none;
}

form > div {
    margin: 2%;
}

form > div textarea {
    background-color: rgba(242, 242, 242, 0.3);
    margin: 7%;
    border: none;
   
}

#submitBtn {
    border-radius: 12px;
    width: 120px;
    height: 40px;
    font-size: 24px;
}

/* Footer styles */

footer {
    text-align: center;
}

.topHeadingFooter span {
    color: black;
    font-size: 45px;
    font-style: italic
}

.lowerHeadingFooter span {
    color: gray;
    font-size: 14px;
    font-style: italic
}

